<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<html lang="en">

</head>

<body></body>
<form action="#" th:action=@{/empleados/retirar} th:method="GET">
	<table class="table table-sm">
		<tr>
			<td><label>Cédula</label>
			<td><input class="border border-info border-2" type="text" id="origen" th:field=${reserva.codigo}>
			</td>
		</tr>
		<tr>
			<td><label>Codigo de Materia</label>
			<td><input class="border border-info border-2" type="text" id="origen" th:field=${reserva.codigo}>
			</td>
		</tr>
	</table>
	<div style="text-align: center; margin-top: 10px;">
		<input class="btn btn-light"
			style="font-size: 25px; font-weight: bold; font-family: 'Gill Sans'; background-color: rgba(0, 32, 227, 0.5); color: azure;border: rgba(0, 32, 227, 08); margin: 15px;"
			type="submit" value="Buscar">
	</div>
</form>

</body>

</html>